<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Students list</title>
</head>
<body>

{% extends 'mainpage/base.html' %}
{% block content %}

<a href="{% url 'students:create' %}">Create student</a>

<h3>Students list</h3>
<ul>
    {% for student in students %}

        <li>
            <a href="{% url 'students:edit' student.id %}">{{ forloop.counter }} . {{ student.full_name }}</a>
        </li>

    {% endfor %}
</ul>

{% endblock content %}


</body>
</html>